node_modules/
coverage/
dist/
logs/
*.log
*.tsbuildinfo
.env*
!.env.example

# wrangler
.wrangler/
.dev.vars*
!.dev.vars.example

# cdktn
.gen/
cdktn.out/
cdktf.out/
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfstate.d/

# sst
.sst/
